name: Test Pipeline
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: self-hosted
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Build HelloWorld with Maven
      run: |
          cd HelloWorld/HelloWorld
          mvn clean package -DskipTests

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN  }}

    - name: Build image DK
      run: |
        cd HelloWorld/HelloWorld
        COMMIT_ID=$(git rev-parse --short HEAD)
        docker build -t tritran95/javaapp:$COMMIT_ID .

    - name: Push Docker image
      run: |
        COMMIT_ID=$(git rev-parse --short HEAD)
        docker push tritran95/javaapp:$COMMIT_ID    
