name: Build & Push Java App Image

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  IMAGE_NAME: tritran95/javaapp

jobs:
  build-and-push:
    runs-on: self-hosted   # chạy trên docker@docker

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Build Java app
        run: mvn clean package -DskipTests

      - name: Login DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Docker image
        run: |
          IMAGE=${{ env.IMAGE_NAME }}
          TAG=${GITHUB_SHA::7}

          docker build -t $IMAGE:$TAG .
          docker tag $IMAGE:$TAG $IMAGE:latest

          docker push $IMAGE:$TAG
          docker push $IMAGE:latest
