name: Test Pipeline
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: self-hosted
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: 
      run: |
          cd HelloWorld/HelloWorld
          mvn clean package -DskipTests
    - name: Build image
      run: docker build -t tritran/javaapp:1.2 .
